<?xml version="1.0"?>
<launch>
    <arg name="x" default="-2.8"/>
    <arg name="y" default="0.5"/>
    <arg name="z" default="0"/>
    <arg name="R" default="0"/>
    <arg name="P" default="0"/>
    <arg name="Y" default="0"/>
    <!-- vehicle model and world -->
    <arg name="est" default="ekf2"/>
    <arg name="vehicle" default="iris"/>
    <arg name="world" default="$(find px4)/Tools/simulation/gazebo-classic/sitl_gazebo-classic/worlds/ground_circle.world"/>
    <arg name="sdf" default="$(find px4)/Tools/simulation/gazebo-classic/sitl_gazebo-classic/models/iris_realsense_camera/iris_realsense_camera.sdf"/>
    <!-- <arg name="rcS" default="$(find px4)/posix-configs/SITL/init/$(arg est)/$(arg vehicle)_vo"/> -->

    <!-- gazebo configs -->
    <arg name="gui" default="true"/>
    <arg name="debug" default="false"/>
    <arg name="verbose" default="false"/>
    <arg name="paused" default="false"/>
    <arg name="respawn_gazebo" default="false"/>
    <!-- MAVROS configs -->
    <arg name="fcu_url" default="udp://:14540@localhost:14557"/>
    <arg name="gcs_url" default="" />
    <arg name="tgt_system" default="1" />
    <arg name="tgt_component" default="1" />
    <arg name="log_output" default="screen" />
    <arg name="fcu_protocol" default="v2.0" />
    <arg name="respawn_mavros" default="false"/>
    <!-- GEOMETRY CONTROLLER configs -->
    <arg name="command_input" default="2" />
    <arg name="gazebo_simulation" default="true" />
    <!-- PX4 configs -->
    <arg name="interactive" default="true"/>
    <!-- PX4 SITL and Gazebo -->
    <include file="$(find px4)/launch/posix_sitl.launch">
        <arg name="x" value="$(arg x)"/>
        <arg name="y" value="$(arg y)"/>
        <arg name="z" value="$(arg z)"/>
        <arg name="R" value="$(arg R)"/>
        <arg name="P" value="$(arg P)"/>
        <arg name="Y" value="$(arg Y)"/>
        <arg name="world" value="$(arg world)"/>
        <arg name="vehicle" value="$(arg vehicle)"/>
        <arg name="sdf" value="$(arg sdf)"/>
        <!-- <arg name="rcS" value="$(arg rcS)"/> -->
        <arg name="gui" value="$(arg gui)"/>
        <arg name="interactive" value="$(arg interactive)"/>
        <arg name="debug" value="$(arg debug)"/>
        <arg name="verbose" value="$(arg verbose)"/>
        <arg name="paused" value="$(arg paused)"/>
        <arg name="respawn_gazebo" value="$(arg respawn_gazebo)"/>
    </include>
    <!-- MAVROS -->
    <include file="$(find mavros)/launch/node.launch">
      <arg name="pluginlists_yaml" value="$(find mavros)/launch/px4_pluginlists.yaml" />
      <arg name="config_yaml" value="$(find mavros)/launch/px4_config.yaml" />

      <arg name="fcu_url" value="$(arg fcu_url)" />
      <arg name="gcs_url" value="$(arg gcs_url)" />
      <arg name="tgt_system" value="$(arg tgt_system)" />
      <arg name="tgt_component" value="$(arg tgt_component)" />
      <arg name="log_output" value="$(arg log_output)" />
      <arg name="fcu_protocol" value="$(arg fcu_protocol)" />
      <arg name="respawn_mavros" default="$(arg respawn_mavros)" />
    </include>
    <!-- GEOMETRY CONTROLLER -->
    <node pkg="geometric_controller" type="geometric_controller_node" name="geometric_controller" output="screen">
  		<param name="mav_name" type="string" value="$(arg vehicle)" />
        <remap from="command/bodyrate_command" to="/mavros/setpoint_raw/attitude"/>
        <param name="ctrl_mode" value="$(arg command_input)" />
        <param name="enable_sim" value="$(arg gazebo_simulation)" />
        <param name="enable_gazebo_state" value="true"/>
        <param name="max_acc" value="12.0" />
        <!--Params specific for Iris copter-->
        <param name="attctrl_constant" value="0.3"/>
        <param name="normalizedthrust_constant" value="0.06"/>
        <param name="normalizedthrust_offset" value="0.125"/>
        <param name="Kp_x" value="10.0" />
        <param name="Kp_y" value="10.0" />
        <param name="Kp_z" value="25.0" />
        <param name="Kv_x" value="3.5"/>
        <param name="Kv_y" value="3.5"/>
        <param name="Kv_z" value="8.0"/>
        <param name="init_pos_x" value="0"/>
        <param name="init_pos_y" value="0"/>
        <param name="init_pos_z" value="1.8"/>
    </node>
</launch>
